* {
    box-sizing: border-box; /* makes sure border and padding are accounted for */
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    margin: 10px auto; 
    width: 100%;
    max-width: 300px;
}

.letter-box {
    border: 2px grey solid;
    width: 45px;
    height: 45px;
    margin: 5px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    padding: 2px;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header-section {
    border-bottom: 2px black solid;
    margin-bottom: 20px;
    text-align: center;
}


.hidden {
    visibility: hidden;
}

/* winner animation */

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  
  .winner {
    animation: rainbow 4s infinite linear;
  }


.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
  }
  
  /* rotates clockwise indefinitely */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .info-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }


.invalid {
    animation: flash 1s;
  }
  
  /* flashes red border and then fades back to gray */
  @keyframes flash {
    5% {
      border-color: crimson;
    }
  
    100% {
      border-color: #ccc;
    }
  }